version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: workit-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: '##@Scottish!'
      POSTGRES_DB: workit-db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  drizzle-studio:
    image: ghcr.io/drizzle-team/drizzle-studio:latest
    container_name: drizzle-studio
    ports:
      - "4983:4983"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    restart: unless-stopped

volumes:
  postgres_data:
